body {
    font-family: 'Truculenta', sans-serif;
    font-size: 20px;
}

h1, h2 {
    font-family: 'Reggae One', cursive;
}

.main {
    width: 100%;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-areas: "head head"
                       "nav info" 
                       "footer footer";
    grid-template-rows: 120px 750px 67px;
    grid-template-columns: 1fr 4fr; 
}

/* header */

.header {
    grid-area: head;
    background-color: rgb(30, 135, 206);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    height: 140px;
    flex-shrink: 1;
}

.header h1 {
    text-transform: uppercase;
    color: black;
    font-size: 3em;
}

.b {
    grid-area: nav;
    background-color: whitesmoke;
}

/* info */

.info {
    grid-area: info;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.wrapper-img {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.wrapper-img img {
    
    height: auto;
    width: 400px;
    border-radius: 5%;
    flex-shrink: 1;
    margin-left: 3em;
    margin-top: 3em;
}

.wrapper-text {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper-text p {
    background-color: rgba(2, 49, 39, 0.7);
    width: 300px;
    flex-shrink: 1;
    color: white;
    padding: 10px;
    border-radius: 5%;
    font-size: 1.2em;
}

/* footer */

.d {
    grid-area: footer;
    background-color: rgb(199, 105, 16);
}

/* effects */

.grow {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  
  .grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

/* changes for small screen */

@media only screen and (max-width: 800px) {

    .main {
    grid-template-areas: "head"
                       "nav" 
                       "info"
                       "footer";
    grid-template-rows: 120px 70px 750px 67px;
    grid-template-columns: 1fr;
    justify-content: stretch;
    }

    .info {
        background-position-x: -200px;
        grid-template-rows: 1fr 1fr;
    }

    .wrapper-img {
        grid-column: 1 / span 1;
    }

    .wrapper-img img {
        width: 300px;
    }

    .wrapper-text {
        grid-column: 1 / span 1;
    }

    .wrapper-text p {
        margin-left: 1em;
        font-size: 1.1em;
    }
}
